In [82]:

import pandas as pd
import numpy as np



movies_df = pd.read_excel(
    r"C:\Users\rtekem\OneDrive - Vishay Intertechnology, Inc\Desktop\Machine_Learning_project\IMPUT\Recommendation\Recommendation\movies.xlsx",
    usecols=['movieId', 'title'],
    dtype={'movieId': 'int32', 'title': 'str'}
)

rating_df = pd.read_excel(
    r"C:\Users\rtekem\OneDrive - Vishay Intertechnology, Inc\Desktop\Machine_Learning_project\IMPUT\Recommendation\Recommendation\ratings.xlsx",
    usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'}
)

In [84]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [86]:
rating_df.head()

   userId  movieId  rating
0       1        1   4.000
1       1        3   4.000
2       1        6   4.000
3       1       47   5.000
4       1       50   5.000

In [88]:
df = pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating                        title
0       1        1   4.000             Toy Story (1995)
1       1        3   4.000      Grumpier Old Men (1995)
2       1        6   4.000                  Heat (1995)
3       1       47   5.000  Seven (a.k.a. Se7en) (1995)
4       1       50   5.000   Usual Suspects, The (1995)

In [90]:
df.isna().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

In [92]:
df.shape

(100836, 4)

In [94]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])

In [96]:
combine_movie_rating.shape

(100836, 4)

In [98]:
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [100]:
movie_ratingCount.shape

(9719, 2)

In [102]:
combine_movie_rating.shape

(100836, 4)

In [104]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating                        title  totalRatingCount
0       1        1   4.000             Toy Story (1995)               215
1       1        3   4.000      Grumpier Old Men (1995)                52
2       1        6   4.000                  Heat (1995)               102
3       1       47   5.000  Seven (a.k.a. Se7en) (1995)               203
4       1       50   5.000   Usual Suspects, The (1995)               204

In [106]:
rating_with_totalRatingCount.shape

(100836, 5)

In [120]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [122]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating                        title  totalRatingCount
0       1        1   4.000             Toy Story (1995)               215
1       1        3   4.000      Grumpier Old Men (1995)                52
2       1        6   4.000                  Heat (1995)               102
3       1       47   5.000  Seven (a.k.a. Se7en) (1995)               203
4       1       50   5.000   Usual Suspects, The (1995)               204

In [124]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [126]:
rating_popular_movie.shape

(41362, 5)

In [128]:
## First lets create a Pivot matrix

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [68]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

In [70]:
from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [72]:

movie_features_df.shape

(450, 606)

In [74]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

79

In [76]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [78]:

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Caddyshack (1980):

1: Animal House (1978), with distance of 0.402995228767395:
2: Ferris Bueller's Day Off (1986), with distance of 0.47585994005203247:
3: Wayne's World (1992), with distance of 0.48198193311691284:
4: Spaceballs (1987), with distance of 0.485767662525177:
5: Breakfast Club, The (1985), with distance of 0.5062075853347778: